<nav>
    <div class="nav-wrapper">
         <h3 class="brand-logo">My Library</h3>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#owned">Own</a></li>
            <li><a href="#wishlist">Wishlist</a></li>
        </ul>
    </div>
</nav>

<div class="container z-depth-3">
    {{#each userBooks as |book| }}
    <!-- Reader's Owned collection -->
    <ul class="collection with-header">

        <li class="collection-header">
            <h4 id="owned">Owned Books</h4>
        </li>

            {{#if own && read}}
                <ul class="collection with-header">
                    
                    {{!-- read list header --}}
                    <li class="collection-header">
                        <h5>Read</h5>
                    </li>

                    {{!-- read list item --}}
                    <li class="collection-item avatar">
                        <img src="{{book.image}}" alt="" class="circle">
                        <span class="title">{{book.name}}</span>
                        <p>
                            {{book.author}}
                        </p>
                    </li>
                </ul>
            {{/if}}
        
            {{#if own && !read}}
                <ul>
                    {{!-- unread list header --}}
                    <li class="collection-header">
                        <h5>Unread</h5>
                    </li>

                    {{!-- unread list item --}}
                    <li class="collection-item avatar">
                        <img src="{{book.image}}" alt="" class="circle">
                        <span class="title">{{book.name}}</span>
                        <p>
                            {{book.author}}
                        </p>
                    </li>
                </ul>
            {{/if}}
    </ul>

    {{!-- User's Wishlist --}}
    <ul class="collection with-header">

        <li class="collection-header">
            <h4 id="wishlist">Wishlist</h4>
        </li>

            {{#if !own && read}}
                <ul class="collection with-header">

                    {{!-- read list header --}}
                    <li class="collection-header">
                        <h5>Read</h5>
                    </li>

                    {{!-- read list item --}}
                    <li class="collection-item avatar">
                        <img src="{{book.image}}" alt="" class="circle">
                        <span class="title">{{book.name}}</span>
                        <p>
                            {{book.author}}
                    </p>
                    </li>
                </ul>
            {{/if}}

            {{#if !own && !read}}
                <ul>
                    {{!-- unread header line --}}
                    <li class="collection-header">
                        <h5>Unread</h5>
                    </li>

                    {{!-- unread list item --}}
                    <li class="collection-item avatar">
                        <img src="{{book.image}}" alt="" class="circle">
                        <span class="title">{{book.name}}</span>
                        <p>
                            {{book.author}}
                        </p>
                    </li>
                </ul>
            {{/if}} 

    </ul>

    {{/each}}

</div>